<%= turbo_stream.prepend "form_definitions" do %>
  <%= render @form_definition %>
<% end %>

<%= turbo_stream.update "flash" do %>
  <div class="px-4 py-3 bg-success/10 border border-success/30 text-success rounded-lg text-sm" data-controller="flash">
    Form definition was successfully created.
  </div>
<% end %>
