<%= turbo_stream.remove @form_definition %>

<%= turbo_stream.update "flash" do %>
  <div class="px-4 py-3 bg-green-900/50 border border-green-700 text-green-300 rounded-lg text-sm" data-controller="flash">
    Form definition was successfully deleted.
  </div>
<% end %>
