<% if flash[:notice] %>
  <div data-controller="flash" class="mb-4">
    <div data-flash-target="message" class="flex items-center justify-between px-4 py-3 bg-success/10 border border-success/30 text-success rounded-lg">
      <span><%= flash[:notice] %></span>
      <button type="button" data-action="flash#dismiss" class="text-success hover:text-text">&times;</button>
    </div>
  </div>
<% end %>

<% if flash[:alert] %>
  <div data-controller="flash" class="mb-4">
    <div data-flash-target="message" class="flex items-center justify-between px-4 py-3 bg-destructive/10 border border-destructive/30 text-destructive rounded-lg">
      <span><%= flash[:alert] %></span>
      <button type="button" data-action="flash#dismiss" class="text-destructive hover:text-text">&times;</button>
    </div>
  </div>
<% end %>
